<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CRM Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.qa.testcases.LoginPageTest@a530d0a]">loginPageTitleTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:44</td>   <td>8017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.qa.testcases.LoginPageTest@a530d0a]">loginTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:18</td>   <td>-18495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:37</td>   <td>1357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:47</td>   <td>11109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:56</td>   <td>19862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:31</td>   <td>54557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:32:50</td>   <td>73570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:50</td>   <td>134176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:09</td>   <td>153094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:25</td>   <td>169117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:02</td>   <td>86294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:58</td>   <td>141953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:19</td>   <td>162660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:37</td>   <td>180759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:36</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:46</td>   <td>10320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:55</td>   <td>19191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:32:16</td>   <td>40253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>73494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:13</td>   <td>96566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:08</td>   <td>152177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:22</td>   <td>165422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:47</td>   <td>190939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:32:06</td>   <td>30018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactsTest()[pri:2, instance:com.qa.testcases.HomePageTest@1a18644]">verifyContactsTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:55</td>   <td>19179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyHomePageTitleTest()[pri:1, instance:com.qa.testcases.HomePageTest@1a18644]">verifyHomePageTitleTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
</table>
