<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CRM Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:36</td>   <td>18495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.qa.testcases.LoginPageTest@a530d0a]">loginPageTitleTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:36</td>   <td>18590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:37</td>   <td>19852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:44</td>   <td>26512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.qa.testcases.LoginPageTest@a530d0a]">loginTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>20/12/23 16:31:46</td>   <td>28815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@a530d0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:47</td>   <td>29604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:55</td>   <td>37674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyHomePageTitleTest()[pri:1, instance:com.qa.testcases.HomePageTest@1a18644]">verifyHomePageTitleTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:55</td>   <td>37686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:31:56</td>   <td>38357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:32:06</td>   <td>48513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactsTest()[pri:2, instance:com.qa.testcases.HomePageTest@1a18644]">verifyContactsTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>20/12/23 16:32:16</td>   <td>58748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.qa.testcases.HomePageTest@1a18644]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:31</td>   <td>73052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.newUserCreationTest(java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">newUserCreationTest</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="d0c991">  <td>20/12/23 16:32:50</td>   <td>91989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.qa.testcases.ContactsPageTest@5acf93bb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:32:50</td>   <td>92065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:02</td>   <td>104789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:13</td>   <td>115061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:50</td>   <td>152671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:33:58</td>   <td>160448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:08</td>   <td>170672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:09</td>   <td>171589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:19</td>   <td>181155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:22</td>   <td>183917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:25</td>   <td>187612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompaniesPageTest.setUp()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:37</td>   <td>199254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompaniesPageTest.tc1(java.util.Map)[pri:1, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">tc1</td> 
  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>20/12/23 16:34:47</td>   <td>209434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CompaniesPageTest.tearDown()[pri:0, instance:com.qa.testcases.CompaniesPageTest@7e7be63f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
</table>
