<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c9ba1">  <td>20/12/22 16:16:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.qa.testcases.LoginPageTest@7133da86]">loginPageTitleTest</td> 
  <td>main@1565740893</td>   <td></td> </tr>
<tr bgcolor="7c9ba1">  <td>20/12/22 16:17:34</td>   <td>44825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.qa.testcases.LoginPageTest@7133da86]">loginTest</td> 
  <td>main@1565740893</td>   <td></td> </tr>
<tr bgcolor="7c9ba1">  <td>20/12/22 16:15:04</td>   <td>-105443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@7133da86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1565740893</td>   <td></td> </tr>
<tr bgcolor="7c9ba1">  <td>20/12/22 16:17:14</td>   <td>24485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.qa.testcases.LoginPageTest@7133da86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1565740893</td>   <td></td> </tr>
<tr bgcolor="7c9ba1">  <td>20/12/22 16:16:49</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@7133da86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1565740893</td>   <td></td> </tr>
<tr bgcolor="7c9ba1">  <td>20/12/22 16:17:42</td>   <td>52732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.qa.testcases.LoginPageTest@7133da86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1565740893</td>   <td></td> </tr>
</table>
